/* Styles for Mobile devices */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 24px 10px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1439px) {
  .container {
    max-width: 1439px;
    padding: 42px 106px;
  }
}