.footer{
  background-image: url("/img/footer/mob-min.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.footer-navigation{
  margin-top: 43px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 0.75;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: #3d8a4c;
}
.footer-text{
  text-align: center;
}
@media only screen and (min-width: 1440px) {
  .footer{
    background-image: url("/img/footer/desk.png");
  }
  .footer-container{
    display: flex;
    justify-content: end;
    gap: 160px;
    align-items: center;
  }
  .footer-navigation{
    align-items: end;
    margin-top: 0;

  }
}