.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
background: #082401;
  height: 70px;
  width: 100%;

}

.header-container {
  padding:12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  margin-right: 10px;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #082401;
  width: 374px;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 80px 36px 80px 50px;
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: left;
}

.menu-list-item {
font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 0;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}


@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 180px;
   background-image: url("/img/header/desk.png");
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
  }

  .header-container {
    padding: 36px 0 0;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 1152px;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
    justify-content: center;
  }


  .navigation-item {
font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-size: 32px;

  line-height: 2.45885;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  }
}