.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.hero-title{
    margin-top: 224px;
    font-family: "Jockey One", sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 1;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
        text-shadow: 0 4px 5px 0 #000;
       
}


@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
}
.disclaimer-wrapper{
    background-image: url("/img/hero/disclaimer-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 20px;
        padding: 34px 26px;
        width: 375px;
    height: 238px;
        margin-left: -10px;
        font-family: "Jockey One", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.2;
            text-transform: uppercase;
            text-align: center;
       
            color: #fff;
}
.span{
      color: #b4d432;   
}
@media only screen and (min-width: 1439px) {
 .hero-section{
    background-image: url("/img/hero/desk.png");
 }
 .hero-title{
    margin-top: 255px;
    margin-right: 180px;
    margin-left: auto;
    width: 442px;
    font-size: 76px;
        line-height: 1.02381;
 }
 .hero-btn.pulse{
margin-right: 210px;
    margin-left: auto;
 }
 .disclaimer-wrapper{
    margin-top: 101px;
    background-image: url("/img/hero/disclaimer-desk.png");
    width: 1200px;
        height: 200px;
        margin-left: 0;
        font-size: 32px;
    padding: 46px 32px;
 }
}
/* demo */
.play-section {
    background-image: url("/img/demo/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.demo-title{
   margin-bottom: 32px;
font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.09375;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 373px;
margin-left: -10px;
}
.demo-container {
    padding-top: 60px;
    padding-bottom: 375px;
}

.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.game-img {
    width: 100%;
    display: block;
    margin-bottom: 22px;
}

.demo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* iframe поверх картинки */
.iframe-wrapper {
    position: absolute;
    top: 0%;
    /* під екран у картинці */
    left: 34%;
    transform: translateX(-50%);
    width: 68%;
    height: 54%;
    z-index: 5;
}

#gameIframe {
    width: 147%;
    height: 186%;
    border: none;
    display: none;
    background: #000;
    border-radius: 10px;
}

#closeIframeBtn {
    position: absolute;
    top: 30px;
    right: -130px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 10;
    width: 60px;
    height: 30px;
}
@media only screen and (min-width: 1439px) {
   .play-section{
    background-image: url("/img/demo/desk.png"), url("/img/demo/desk-two.png");
background-position: top center, top center;
background-size: cover, cover;
background-repeat: no-repeat, no-repeat;
   }
   .demo-title{
    font-family: "Jockey One", sans-serif;
        font-weight: 400;
        font-size: 64px;
        line-height: 1.09375;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        display: block;
        margin-bottom: 62px;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
   }
   .demo-container{
    padding-top: 62px;
    padding-bottom: 92px;
   }
   .demo-wrapper{
    margin-bottom: 62px;
   }

}
/* About */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.about-text{
    margin-top: 13px;

}
.about-wrapper{
    margin-bottom: 48px;
}
.uniq-wrapper{
    background-image: url("/img/about/wrap-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin-left: -10px;
    padding: 46px 16px;
        width: 375px;
        height: auto;
}
.about-title{
    font-family: "Jockey One", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 0.75;
        color: #3d8a4c;
        text-align: center;
}
.uniq-text-wrapper{
    margin-top: 18px;
    margin-bottom: 106px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}
.about-money-img{
    margin-left: 20px;
    margin-right: auto;
   
}
@media only screen and (min-width: 1439px) {
    .about-money-img{
display: none;
    }
    .about-section{
        background-image: url("/img/about/desk.png");
    
    }
    .about-text{
        width: 632px;
        margin-left: 0;
       margin-right: auto;
    }
    .about-wrapper{
        margin-bottom: 74px;
    }
    .uniq-wrapper{
        background-image: url("/img/about/one-desk.png");
        background-size: cover;
        padding: 110px 32px 46px 32px;
        width: 1300px;
            height: auto;
            margin-left: auto;
            margin-right: auto;

    }
    .uniq-text-wrapper{
        width: 517px;
    }
    .about-title{
        text-align: left;
    }
}