.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.hero-title{
    margin-top: 224px;
    font-family: "Jockey One", sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 1;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
        text-shadow: 0 4px 5px 0 #000;
       
}


@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
width: 322px;
    height: 111px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
}
.disclaimer-wrapper{
    background-image: url("/img/hero/disclaimer-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 20px;
        padding: 34px 26px;
        width: 375px;
    height: 238px;
        margin-left: -10px;
        font-family: "Jockey One", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.2;
            text-transform: uppercase;
            text-align: center;
       
            color: #fff;
}
.span{
      color: #b4d432;   
}